input {
  padding: 10px 20px;
  width: 400px;
  max-width: 100%;
  border-radius: 40px;
  border: none;
}

.topDiv {
  padding: 20px 0 0 0;
}

.top-detail-sec {
  margin: 2% 0;

  p {
    font-size: 24px;
  }

  display: grid;
  grid-template-columns: 30% 20% 48%;
  column-gap: 1%;
  //grid-template-rows: 30px 30px;
  grid-auto-flow: row;

  > div {
    //background: #ffffff;
    border-radius: 25px;

    > div {
      p {
        color: #43AB49;

        > span {
          font-size: 25px;
          display: block;
          clear-after: right;
          clear: left;
        }
      }

      > h4 {
        font-size: 50px;
        color: rgba(0, 0, 0, 0.6);

        > span {
          font-size: 20px;
        }
      }
    }

  }

  .profile {
    padding: 20px;
    max-width: 100%;
    background: white;
    border-radius: 25px;

    .image-container {
      width: 155px;
      height: 155px;
      border: 2px solid rgb(67, 171, 73);
      border-radius: 25px;
      margin-bottom: 20px;
      overflow: hidden;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.28);
    }

    .bio-details {
      position: relative;
      //transform: translateY(-200px);
      h3 {
        font-weight: bold;
        font-size: 25px;
        line-height: 45px;
      }

      > p {
        font-size: 25px;
        color: #000000;
        padding: 10px 0;

        > span {
          font-size: 18px;
          color: #43AB49;
        }
      }
    }
  }

  .center {

    > div {
      padding: 20px;
      width: 100%;
      background: white;
      border-radius: 25px;
      height: 50%;
      position: relative;

      &:nth-child(1) {
        margin-bottom: 2%;
      }

    }

    @media (max-width: 500px) {
      width: 100%;
    }


  }

  .mean {
    background: #ffffff;
    border-radius: 25px;
    padding: 20px;

    > h4 {
      color: #43AB49;
      font-size: 25px;
    }

    > div {
      border-radius: 25px;
      height: 45%;
      background: rgba(67, 171, 73, 0.10);
      margin: 1% 0;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:nth-child(1) {
        background: rgba(67, 171, 73, 0.79);
      }

    }
  }
}


.graph {
  background: #ffffff;
  width: 100%;
  min-height: 300px;
  border-radius: 25px;
  position: relative;
  padding: 20px;
  margin: 10px 0 20px 0;

  > h3 {
    display: block;
    color: #43AB49;
    padding: 20px 0;
    font-size: 25px;
  }

  > canvas {
    //position: absolute;
    //height: 400px !important;
    min-height: 300px !important;
  }
}

.subject-sec {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  h3 {
    display: block;
    color: #43AB49;
    padding: 20px 0;
    font-size: 25px;
  }

  > div {
    background: #ffffff;
    min-height: 300px;
    border-radius: 25px;
    padding: 20px;
    overflow: auto;
    margin: 10px 0;
    width: calc(50% - 10px);
  }

  .tableCont {

    > table {
      border-collapse: collapse;
      border-spacing: 0;
      width: 100%;
      //border: 1px solid #ddd;

      th {
        text-align: left;
        padding: 10px;
      }

      td {
        padding: 10px;
        min-width: 100px;
        font-size: 15px;
      }

      tr:nth-child(even) {
        background-color: rgba(67, 171, 73, 0.11);
      }
    }

  }

  @media (max-width: 760px) {
    > div {
      width: 100%;
    }
  }

}

@media (max-width: 760px) {

  .top-detail-sec {
    grid-template-columns: 100%;
    column-gap: 0;

    .center {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 20px 0;

      > div {
        width: 45%;
        height: 100%;
      }
    }
  }

}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

}

.graph,
.tableCont {
  > h3 {
    display: block;
    padding: 20px 0;
  }
}
